/* Header */
.header {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 1280px;
  height: 75px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-border);
    backdrop-filter: blur(15px);
    border-radius: 35px;
  z-index: 1000;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 14px 0 26px;
}

.logo {
  display: block;
  height: 23.584px;
  width: 210px;
  text-decoration: none;
}

.logo img {
  height: 100%;
  width: auto;
}

.nav {
  display: flex;
  align-items: center;
  gap: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s;
}

.nav-link.active {
  color: #59c2ff;
  font-weight: 700;
}

.nav-link:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.nav-item-with-submenu {
  position: relative;
}

.nav-submenu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  background: var(--color-bg);
  border: 1px solid var(--color-bg-card-alt);
  border-radius: 12px;
  width: 230px;
  padding: 0;
  display: none;
  flex-direction: column;
  z-index: 1000;
}

.nav-item-with-submenu.active .nav-submenu {
  display: flex;
}

.nav-submenu-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  transition: color 0.3s;
  position: relative;
}

.nav-submenu-link:first-child {
  padding-top: 10px;
}

.nav-submenu-link:last-child {
  padding-bottom: 10px;
}

.nav-submenu-link:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--color-bg-card-alt);
}

.nav-submenu-link-active {
  color: #59c2ff;
  font-weight: 700;
}

.nav-submenu-link:hover {
  color: #59c2ff;
}

.btn-support {
  background: transparent;
  border: 1px solid #acacac;
  color: white;
  padding: 11px 17px;
  border-radius: 26px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-support:hover {
  background: white;
  border-color: white;
  color: var(--color-bg);
}
